<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>
    <link rel="stylesheet" href="/css/style.css" />
  </head>
  <body>
    <h1>Entre em contato conosco.</h1>
    <input
      type="email"
      name="email"
      id="email"
      placeholder="Digite seu e-mail"
    />
    <input type="text" name="name" id="name" placeholder="Digite seu nome" />
    <div>
      <input type="submit" value="Cadastrar" />
    </div>
  </body>
</html>
